*
!*/
!.gitignore
!LICENSE
!*.md
!*.py
!*.toml
!*.json
!robots/d1_edu/deploy/agiself_d1_deploy/bundle/policy.onnx
!robots/d1_edu/deploy/agiself_d1_deploy/bundle/policy.pt
!robots/d1_edu/assets/edu_description/urdf/edu.urdf
!robots/d1_edu/assets/usd/d1_edu.usd
